:root{
    --primary:#091e3b;
    --secondary: #f3e7c0;
    --thirdary: #000000;
    --skyColor: #f3e7c0;
    --gryColor: #ebd1ea;
    --black:#000000;
    --white:#ffffff;
    --textColor: #434343;
    --green:#091e3b;
    --red:#de2e16;
    --btn-color:#de2e16;
    
    --primary-font:'Work Sans', sans-serif;
    --secondary-font: 'Roboto Slab', sans-serif;
    }
    
    
    .btn{background-color: var(--btn-color); color: var(--white); border-color: var(--btn-color);}
    .btn:hover{background-color:var(--secondary); color: var(--primary);border-color: var(--secondary);}
    .loginPages .leftSide .leftbg::before{background-color: rgb(36 47 68 / 0.62);}
  
    
    .selectedRestaurant{  background-color: rgba(9, 30, 59, 0.9);}
    .dropdown-list ul li a img,.restaurantSlider .slideItem .itemView img,.modal-close img,.availableDayList .availablItem .restauranIcon img,.star-ratings .fill-ratings span img,.availableList .restaurantDetails .confirmTimePeople li img,.comfirmedDetails .reservationAddress .addressBox .hotelAddress .addr img,.invitationDetails .comfirmedDetails .finalTimePeople ul li i img,.invitationDetails .comfirmedDetails .addr img,.confirmDetails .confirmDay i img,.availableList .no-restaurant_found img,.cancelRestoDetails .rest_desc li i img,.modal-close img,.swiper-buttons .swiper-button-next img, .swiper-buttons .swiper-button-prev img{
        filter: brightness(0) saturate(100%) invert(9%) sepia(43%) saturate(2727%) hue-rotate(196deg) brightness(90%) contrast(96%);
    }
    /* .swiper-buttons .swiper-button-next img, .swiper-buttons .swiper-button-prev img {}*/

    .accordionItem .toggle a:hover{color: var(--green);} 
    /* .accordionItem .toggle .comfirmedDay i img{} */