:root{
    --primary:#3887c8;
    --secondary: #dff1ff;
    --thirdary: #11191c;
    --skyColor: #dff1ff;
    --gryColor: #ebd1ea;
    --black:#11191c;
    --white:#ffffff;
    --textColor: #434343;
    --green:#3887c8;
    --red:#3887c8;
    --btn-color:#f3ca3e;
    
    --primary-font:'Work Sans', sans-serif;
    --secondary-font: 'Roboto Slab', sans-serif;
    }
    
    
    .btn{background-color: var(--btn-color); color: var(--black); border-color: var(--btn-color);}
    .btn:hover{background-color:var(--secondary); color: var(--primary);border-color: var(--secondary);}
    .loginPages .leftSide .leftbg::before{background-color: rgb(36 47 68 / 0.62);}
  
    
    .selectedRestaurant{  background-color: rgba(56, 135, 200, 0.9);}
    .dropdown-list ul li a img,.restaurantSlider .slideItem .itemView img,.modal-close img,.availableDayList .availablItem .restauranIcon img,.star-ratings .fill-ratings span img,.availableList .restaurantDetails .confirmTimePeople li img,.comfirmedDetails .reservationAddress .addressBox .hotelAddress .addr img,.invitationDetails .comfirmedDetails .finalTimePeople ul li i img,.invitationDetails .comfirmedDetails .addr img,.confirmDetails .confirmDay i img,.availableList .no-restaurant_found img,.cancelRestoDetails .rest_desc li i img,.modal-close img{
        filter: brightness(0) saturate(100%) invert(39%) sepia(100%) saturate(349%) hue-rotate(164deg) brightness(103%) contrast(90%);
    }
    /* .swiper-buttons .swiper-button-next img, .swiper-buttons .swiper-button-prev img {}*/

    .accordionItem .toggle a:hover{color: var(--green);} 
    /* .accordionItem .toggle .comfirmedDay i img{} */