
:root{
    /* Colors */
    --primary:#1b3a8c;
    --secondary: #7ec8fd;
    --thirdary: #122223;
    --gryColor: #7ec8fd;
    --black-shade : #1b3a8c;
    --grey-shade : #7ec8fd;
    --grey-shade-light : #7ec8fd;
    --black:#000000;
    --white:#ffffff;
    --textColor: #434343;
    --green:#1b3a8c;
    --red:#7ec8fd;
    --defaultColor :#757575;
    --bg-white : #F3F3F3;
    --input-bg: #F0F0F0;
    --errorColor: #E35858;
    --btn-color:#1b3a8c;
    /* Fonts */
    --primary-font : 'Work Sans', sans-serif;
    --heading-font : 'Roboto Slab', serif;
    --title-font: 'Roboto Serif', serif;

}


.btn:hover,.auth_screen .form_group .btn:hover{background-color: var(--secondary); color: var(--primary);}

.booking_list_wrapper .booking_list_box:after{
    /* background: var(--green);     */
    background: linear-gradient(145deg, rgb(45 134 205) 0%, rgb(27 58 140) 60%, rgb(27 58 140) 59%, rgb(27 58 140) 183%);
}


.action_class .drop_dots img,.booking_list_wrapper .booking_list_box span img,.dropdown-list ul li a img,.action_class .action_drop a img,.wrap_table .table_class .view_btn img,.popup .popup_wrap:after,.auth_screen .bg_wrap .float_element .star_img img,.auth_screen .bg_wrap .float_element .bottom_img img,.auth_screen .bg_wrap .float_element .top_img img,.viewGridButton .btn:not(.active) img,.swiper-buttons .swiper-button-next img, .swiper-buttons .swiper-button-prev img,.modal-close img,.addFilterItem .file_upload .fileinput-button img, .close_btn img,.fileinput-button > img{
    filter: brightness(0) saturate(100%) invert(16%) sepia(49%) saturate(3064%) hue-rotate(211deg) brightness(103%) contrast(92%);
}
/* .popup .popup_header img{} */

.popup[data-id="send_creditcard_popup"] .popup_header img{filter: none !important;}
.auth_screen .bg_wrap .float_element .bottom_img img,.auth_screen .bg_wrap .float_element .top_img img{opacity: 0.2;}

.popup .popup_header .close_btn svg line{stroke: var(--green);}
.wrap_table .table_class tbody td, .commonTable tbody td{background-color: var(--grey-shade);}
.table-gorup tr.groupEven td, .table-gorup tbody tr.groupEven td:first-child{background-color:var(--grey-shade-light);}


/* .btn, .auth_screen .form_group .btn, input.btn{background-color:var(--btn-color);color:var(--white);border-color: var(--btn-color);} */
.btn:hover,.auth_screen .form_group .btn:hover{background-color: var(--secondary);color: var(--primary);border-color: var(--secondary);}

.pagination ul li .page-link{background-color: var(--skyColor);}

.viewGridButton .btn:not(.active){border-color: var(--green);}

.ui-state-highlight{    background-color: var(--green) !important;}

.email-color{display:none;}

