
:root{
    /* Colors */
    --green : #70016a;
    --skyColor : #ebd1ea;
    --black-shade : #f4001f;
    --grey-shade : #ebd1ea;
    --grey-shade-light : #ebd1ea;
    --white : #fff;
    --black : #1e1e1e;
    --defaultColor :#757575;
    --bg-white : #F3F3F3;
    --input-bg: #F0F0F0;
    --errorColor: #E35858;
    --btn-color:#f4001f;
    /* Fonts */
    --primary-font : 'Work Sans', sans-serif;
    --heading-font : 'Roboto Slab', serif;
    --title-font: 'Roboto Serif', serif;
}


.btn:hover,.auth_screen .form_group .btn:hover{background-color: rgba(21, 40, 80, 0.6); color: var(--white);}

.booking_list_wrapper .booking_list_box:after{
    /* background: var(--green);     */
    background: linear-gradient(145deg, rgb(179 63 174) 0%, rgb(109 9 105) 60%, rgb(109 9 105) 59%, rgb(109 9 105) 183%);
}


.action_class .drop_dots img,.booking_list_wrapper .booking_list_box span img,.dropdown-list ul li a img,.action_class .action_drop a img,.wrap_table .table_class .view_btn img,.popup .popup_wrap:after,.auth_screen .bg_wrap .float_element .star_img img,.auth_screen .bg_wrap .float_element .bottom_img img,.auth_screen .bg_wrap .float_element .top_img img,.viewGridButton .btn:not(.active) img,.swiper-buttons .swiper-button-next img, .swiper-buttons .swiper-button-prev img,.modal-close img,.addFilterItem .file_upload .fileinput-button img, .close_btn img,.fileinput-button > img{
    filter: brightness(0) saturate(100%) invert(7%) sepia(68%) saturate(7198%) hue-rotate(298deg) brightness(100%) contrast(108%);
}
/* .popup .popup_header img{} */

.popup[data-id="send_creditcard_popup"] .popup_header img{filter: none !important;}
.auth_screen .bg_wrap .float_element .bottom_img img,.auth_screen .bg_wrap .float_element .top_img img{opacity: 0.2;}

.popup .popup_header .close_btn svg line{stroke: var(--green);}
.wrap_table .table_class tbody td, .commonTable tbody td{background-color: var(--grey-shade);}
.table-gorup tr.groupEven td, .table-gorup tbody tr.groupEven td:first-child{background-color:var(--grey-shade-light);}


/* .btn, .auth_screen .form_group .btn, input.btn{background-color:var(--btn-color);color:var(--white);border-color: var(--btn-color);} */
.btn:hover,.auth_screen .form_group .btn:hover{background-color: var(--green); color: var(--white);border-color: var(--green);}

.pagination ul li .page-link{background-color: var(--skyColor);}

.viewGridButton .btn:not(.active){border-color: var(--green);}

.ui-state-highlight{    background-color: var(--green) !important;}

